@font-face
    font-family 'work_sansbold'
    src url('./assets/worksans/worksans-bold-webfont.woff2') format('woff2'),
         url('./assets/worksans/worksans-bold-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'work_sanshairline'
    src url('./assets/worksans/worksans-hairline-webfont.woff2') format('woff2'),
         url('./assets/worksans/worksans-hairline-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'work_sanslight'
    src url('./assets/worksans/worksans-light-webfont.woff2') format('woff2'),
         url('./assets/worksans/worksans-light-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'work_sansmedium'
    src url('./assets/worksans/worksans-medium-webfont.woff2') format('woff2'),
         url('./assets/worksans/worksans-medium-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'work_sansregular'
    src url('./assets/worksans/worksans-regular-webfont.woff2') format('woff2'),
         url('./assets/worksans/worksans-regular-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'work_sanssemibold'
    src url('./assets/worksans/worksans-semibold-webfont.woff2') format('woff2'),
         url('./assets/worksans/worksans-semibold-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'work_sansthin'
    src url('./assets/worksans/worksans-thin-webfont.woff2') format('woff2'),
         url('./assets/worksans/worksans-thin-webfont.woff') format('woff')
    font-weight normal
    font-style normal
